.pokemons {
    display: grid;
    align-items: center;
    justify-content: center;
}

.normal { --color: #C2C2A1; }

.flying { --color: #BAB0D5; }

.ghost { --color: #735797; }

.dark { --color: #333; }

.steel { --color: #CCCCDE; }

.ground { --color: #B1736C; }

.poison { --color: #7C538C; }

.grass { --color: #48D0B0; }

.fire { --color: #FB6C6C; }

.electric { --color: #FFD86F; }

.fairy { --color: #f469a9; }

.bug { --color: #C3CE75; }

.fighting { --color: #d6b591; }

.water { --color: #609FB5; }

.psychic { --color: #9B7FA6; }

.ice { --color: #7FCCEC; }

.rock { --color: #a6aab6; }

.dragon { --color: #F9BE00; }

.card-pokemon {
    padding: 1rem;
    height: 100%;
    cursor: pointer;
}

.pokemon
{
    background-color: var(--color);
    color: #FFF;
    box-shadow: 0 0 20px 0 var( --color );
    border-radius: 3rem;
    overflow: hidden;
    height: 100%;
    padding: 3rem 1rem 3rem 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon .number {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2.5rem;
    color: rgba( 255,255,255,.2 );
}

.pokemon .name {
    align-self: flex-start;
}

.pokemon .name h2 {
    text-transform: capitalize;
    margin: 0;
    font-size: 2rem;
}
.pokemon .types {
    list-style: none;
}

.pokemon .name .types {
    margin-top: 1rem;
    
}

.pokemon .name .types .type {
    border-radius: 100rem;
    display: table;
    background-color: rgba( 255,255,255,.2 );
    padding: .3rem .7rem;
    text-align: center;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.pokemon .pokemon-image {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 50%;
}

.pokemon img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow( 0 0 5px rgba( 0,0,0,.2 ) );
}
/*      */
.bg-pokeball {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    bottom: -10px;
    font-size: 10px;
    color: rgba( 255,255,255,.2 );
}

.bg-pokeball::before, .bg-pokeball::after {
    display: block;
    border-radius: 100%;
}

.bg-pokeball::before {
    content: '';
    position: relative;
    width: 10em;
    padding-bottom: 10em;
    border: 4em solid currentColor;
    clip-path: polygon( 0 0, 0 40%, 50% 40%, 50% 60%, 0 60%, 0 100%, 100% 100%, 100% 60%, 50% 60%, 50% 40%, 100% 40%, 100% 0 );
}

.bg-pokeball::after {
    content: '';
    position: absolute;
    width: 5em;
    padding-bottom: 5em;
    background-color: currentColor;
}

/* FIM DO TESTE */

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
